*{margin: 0; padding: 0; box-sizing: border-box;}

ul{
    list-style-type: none;
    width: 670px;
    background: #159cb0 url(../img/fundo-horizontal.png) repeat-x;
    float: left;
    margin-left: 20px;
}

ul li{
    float: left;
}

ul a {
    display: block;
    line-height: 2em;
    padding: 0 2em;
    text-decoration: none;
    color: #fff;
    border-left: solid 1px #000;}

/* tirando a barra lateral do primeiro item */
ul .primeiro a{
    border-left: none;
}

ul a:hover{
    background-color:#44cade;
    color: #085662;
    transition: 0.35s;
}

#home #navegacao .home a, #sobre #navegacao .sobre a{
    background-color:#44cade;
    color: #085662;  
}