body{font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

table{width:600px;}

th, td{
    border: 1px solid red;
    padding: 7px;
}

th{text-transform: uppercase;
    border-top:1px solid #999;
    border-bottom: 1px solid #111;
    text-align: left;
    font-size: 90%;
    letter-spacing: 1px;}

tr:hover, tr.alternado:hover{background-color: #c3e6e5;}
tr.alternado{
    background-color: #efefef;
}

.numero{text-align: right;}